block variables

doctype html
html(lang="ru")
	head
		include head
	body.body.loading
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5X2ZNV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNJ3WR9" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		.wrapper#wrapper
			block content
			include scripts