footer.footer
  .container-big
    .footer__wrap
      .footer__list.flex.align-items-center.justify-content-between
        a.footer__logo.svg-wrap.col-auto(href="/")
          include ../../images/logo.svg
        .footer__text.col.font-din-pro
          p ЛИГАЛ ТЕКСТ.уша моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты.огда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса. © Jamie Oliver Enterprises Ltd, 2016, by Matt Russell
        .footer__phone.col-auto
          a.footer__phone-item(href="tel:8 800 700 41 11") 8 800 700 41 11
        .footer__logo-jamie.svg-wrap.col-auto
          include ../../images/logo-jamie.svg