footer.footer
  .container-big
    .footer__wrap
      .footer__list.flex.align-items-center.justify-content-between
        a.footer__logo.svg-wrap.col-auto(href="/")
          include ../../images/logo.svg
        .footer__text.col.font-din-pro
          p Общий срок проведения акция с 13.03.2020 по 31.07.2020. С подробностями об организаторе акции и правилах её проведения можно ознакомиться насайте nozhi.lenta.com и по телефону Единого информационного центра 8-800-700-41-11
          p © Jamie Oliver Enterprises Ltd, 2016, by Matt Russell
        .footer__phone.col-auto
          a.footer__phone-item(href="tel:8 800 700 41 11") 8 800 700 41 11
        .footer__logo-jamie.svg-wrap.col-auto
          include ../../images/logo-jamie.svg

.map-modal
  .map-modal__wrap
    .map-modal__container
      h3.map-modal__title Выберите свой город
      .map-modal__list.flex
