section.middle-menu#rules
  .container
    .middle-menu__row.flex.justify-content-end.align-items-center
      .middle-menu__discount.svg-wrap
        include ../../images/discount-01.svg
      .middle-menu__list.flex.align-items-center
        a.middle-menu__item.menu-dotted.dotted2(href='') Условия акции
        a.middle-menu__item.menu-dotted.dotted2(href='') Скачать буклет
        a.middle-menu__item.menu-dotted.dotted2(href='') Рецепты