section.middle-menu#rules
  .container
    .middle-menu__row.flex.justify-content-end.align-items-center
      .middle-menu__discount.svg-wrap.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="0.2s")
        include ../../images/discount-01.svg
      .middle-menu__list.flex.align-items-center
        a.middle-menu__item.menu-dotted.dotted2(href='./docs/uslovia_akcii.pdf' target="_blank") Условия акции
        a.middle-menu__item.menu-dotted.dotted2(href='./docs/buklet.pdf' target="_blank") Скачать буклет
        a.middle-menu__item.menu-dotted.dotted2.ancor(href='#recipes') Рецепты