mixin recipe-detail__col-row(text1, text2)
  .recipe-detail__col-row
    p.recipe-detail__col-text= text1
    if text2
      span.recipe-detail__col-between
    p.recipe-detail__col-text= text2

mixin step(text1, text2)
  .recipe-detail__col-step
    h4.recipe-detail__col-subtitle= text1
    p.recipe-detail__col-desc= text2

section.recipe-inner
  .navigation
    .container
      .navigation__list.flex.justify-content-center.align-items-center
        a(href="#").navigation__links.navigation__links-left Хрустящий зимний салат
        .navigation__center.flex.align-items-center
          .arrow.arrow-left
            include ../../images/arrow-down.svg
          a(href="/").navigation__main.dotted2 На главную
          .arrow.arrow-right
            include ../../images/arrow-down.svg
        a(href="#").navigation__links.navigation__links-right Быстрые блины
  .recipe-info
    .container
      .recipe-info__wrap.flex
        .recipe-info__img.col-auto
          img(src="./images/recipes-item1.jpg", alt="")
        .recipe-info__content.col
          h2.recipe-info__title «Павлова» с летними ягодами, <br> 10 порций, 1 ч. 25 мин.
          p.recipe-info__text Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года, возьмите фрукты – например, отлично подойдут припущенные груши.
          table.recipe-info__table
            thead
              tr
                td Ккал
                td Белки
                td Жиры/насыщ.
                td Углеводы
                td Сахар/Соль
                td Клетчатка
            tbody
              tr
                td 261
                td 4,1 г.
                td 10,9 г./6,7 г.
                td 62,7 г.
                td 38,8 г./0,4 г.
                td 0,8 г.
  .recipe-detail
    .container
      .recipe-detail__top.flex.justify-content-between.align-items-end
        h3.recipe-detail__title Что понадобится
        a(href="#").recipe-detail__link Распечатать рецепт
      .recipe-detail__grid
        .recipe-detail__col
          h4.recipe-detail__col-subtitle МЕРЕНГА
          +recipe-detail__col-row('01. Белки крупных яиц, желательно деревенских', '300 г.')
          +recipe-detail__col-row('02. Мелкий сахар', '6 шт.')
        .recipe-detail__col
          h4.recipe-detail__col-subtitle НАЧИНКА
          +recipe-detail__col-row('03. Клубника', '200 г.')
          +recipe-detail__col-row('04. Малина', '200 г.')
          +recipe-detail__col-row('05. Жирные сливки', '200 мл.')
          +recipe-detail__col-row('06. Обезжиренный натуральный йогурт', '200 г.')
        .recipe-detail__col
          h4.recipe-detail__col-subtitle
          +recipe-detail__col-row('07. Мелкий сахар', '2 ст. л.')
          +recipe-detail__col-row('08. Стручок ванили', '1шт.')
          +recipe-detail__col-row('09.Несколько веточек мяты ')
      .recipe-detail__top.flex.justify-content-between.align-items-end
        h3.recipe-detail__title Как готовить
        a(href="#").recipe-detail__link Скачать рецепт
      .recipe-detail__grid.recipe-detail__cooking
        .recipe-detail__col
          +step('ШАГ 01', 'Разогрейте духовку до 150 °C.')
          +step('ШАГ 02', 'Для меренги взбейте белки со щепоткой морской соли в настольном миксере до крепких пиков. Не выключая миксер, постепенно всыпьте сахар.')
          +step('ШАГ 03', 'Включите миксер на максимальную скорость и взбивайте 8 минут, пока сахар полностью не растворится. Если в массе все еще чувствуются крупинки сахара, взбивайте еще минуту, но следите, чтобы меренга не опала.')
          +step('ШАГ 03', 'Включите миксер на максимальную скорость и взбивайте 8 минут, пока сахар полностью не растворится. Если в массе все еще чувствуются крупинки сахара, взбивайте еще минуту, но следите, чтобы меренга не опала.')
        .recipe-detail__col
          +step('ШАГ 04', 'Выстелите два противня бумагой для выпечки, разделите между ними поровну меренгу и сформуйте из каждой половины круг диаметром примерно 20 см.')
          +step('ШАГ 05', 'Выпекайте 1 час, чтобы меренга получилась слегка золотистой, но пышной внутри.')
          +step('ШАГ 06', 'Удалите хвостики клубники, крупные ягоды разрежьте на 2 или 4 части. Смешайте клубнику и малину.')
          +step('ШАГ 07', 'Взбейте сливки с сахаром до мягких пиков, затем добавьте йогурт. Разрежьте вдоль стручок ванили, выскребите семена и добавьте в сливочный крем. ')
        .recipe-detail__col
          +step('ШАГ 08', 'Переложите один круг меренги на блюдо, выложите на него половину крема и слегка разровняйте. Посыпьте половиной ягод. ')
          +step('ШАГ 09', 'Накройте второй меренгой, слегка прижмите. Смажьте оставшимся кремом и посыпьте оставшимися ягодами.')
          +step('ШАГ 10', 'Посыпьте мелкими листиками мяты и подавайте. ')
        
  .recipe-inner-to-top.flex.justify-content-center
    .button-to-top Наверх