.header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  &__wrap {
    position: relative;
    background-color: $color-blue;
  }
  &__container {
    &-content {
      position: relative;
      height: 78px;
      @media (max-width: $laptop-l) {
        height: 66px;
      }
      @media (max-width: $laptop-xs) {
        padding-right: 50px;
      }
      @media (max-width: $mobile-xl) {
        height: 58px;
      }
      @media (max-width: $mobile-m) {
        padding-right: 40px;
      }
      @media (max-width: $mobile-s) {
        padding-right: 35px;
      }
    }
  }
}
.logo {
  display: block;
  margin-left: -22px;
  @media (max-width: $mobile-xl) {
    margin-left: -18px;
  }
  svg {
    @media (max-width: $laptop-m) {
      width: 165px;
      height: 46px;
    }
    @media (max-width: $mobile-xl) {
      width: 158px;
      height: 40px;
    }
    @media (max-width: $mobile-m) {
      width: 135px;
      height: 34px;  
    }
    @media (max-width: $mobile-s) {
      width: 125px;
      height: 30px;
    }
    @media (max-width: $mobile-xs) {
      width: 115px;
      height: 30px;
    }
  }
}
.menu {
  &-bar {
    display: none;
    @media (max-width: $laptop-xs) {
      display: block;
      position: absolute;
      top: 20px;
      right: 0;
    }
    @media (max-width: $mobile-xl) {
      top: 17px;
    }
    @media (max-width: $mobile-xs) {
      top: 18px;
    }
    &__wrap {
      cursor: pointer;
    }
    &__line {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: $color-yellow;
      margin-bottom: 4px;
      @media (max-width: $mobile-xs) {
        width: 5px;
        height: 5px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__wrap {
    @media (max-width: $laptop-xs) {
      position: absolute;
      top: 65px;
      right: -30px;
      background: $color-blue;
      width: 280px;
      padding: 35px;
      transform: translateX(100%);
      transition: 0.5s;
      max-height: 100vh;
      overflow-y: auto;
      border-bottom-left-radius: 12px;
      .menu-open & {
        transform: translateX(0);
      }
    }
    @media (max-width: $mobile-s) {
      width: 240px;
    }
    @media (max-width: $mobile-xs) {
      width: 200px;
      padding: 25px;
    }
    @media (max-width: $mobile-xl) {
      top: 58px;
      right: -20px;
    }
  }
  &__list {
    @media (max-width: $laptop-xs) {
      flex-direction: column;
    }
  }
  &__item {
    margin: 0 20px;
    letter-spacing: 2px;
    @media (max-width: $laptop-l) {
      margin: 0 16px;
    }
    @media (max-width: $laptop-m) {
      margin: 0 14px;
    }
    @media (max-width: $laptop-xs) {
      margin: 0 0 15px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__link {
    color: #fff;
    font-size: 28px;
    text-decoration: none;
    @media (max-width: $laptop-xl) {
      font-size: 25px;
    }
    @media (max-width: $laptop-l) {
      font-size: 23px;
    }
    @media (max-width: $laptop-m) {
      font-size: 22px;
    }
    @media (max-width: $laptop-xs) {
      font-size: 24px;
    }
    @media (max-width: $mobile-xl) {
      font-size: 22px;
    }
    @media (max-width: $mobile-s) {
      font-size: 20px;
    }
    @media (max-width: $mobile-xs) {
      font-size: 17px;
    }
    &.active, &:hover {
      color: $color-yellow;
    }
  }
}
.cities {
  &__title {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    line-height: 1.2;
    @media (max-width: $laptop-xl) {
      font-size: 25px;
    }
    @media (max-width: $laptop-l) {
      font-size: 23px;
    }
    @media (max-width: $laptop-m) {
      font-size: 22px;
    }
    @media (max-width: $laptop-xs) {
      font-size: 25px;
    }
    @media (max-width: $mobile-xl) {
      font-size: 23px;
    }
    @media (max-width: $mobile-s) {
      font-size: 20px;
    }
    @media (max-width: $mobile-xs) {
      font-size: 17px;
    }
    &:hover {
      color: $color-yellow;
    }
  }
}