
mixin menu-item(title, link)
  .menu__item
    if main === true
      a.menu__link.ancor(href=link)= title
    else
      a.menu__link(href=`./${link}`)= title
      
.overflow
header.header
  .header__wrap
    .header__container.container-big
      .header__container-content.flex.justify-content-between.align-items-center
        a.logo.svg-wrap(href="/")
          include ../../images/logo.svg
        nav.menu
          .menu__wrap
            .menu__list.flex
              +menu-item('Главная', '#start')
              +menu-item('Правила', '#rules')
              +menu-item('Коллекция ножей', '#knives')
              +menu-item('Рецепты', '#recipes')
              +menu-item('Смотреть видео', '#video')
              +menu-item('Скачать буклет', '#booklet')
        .cities
          .cities__title.dotted.choise-city Москва
        .menu-bar
          .menu-bar__wrap
            .menu-bar__line
            .menu-bar__line
            .menu-bar__line