.map {
  position: relative;
  z-index: 2;
  &:before {
    background-image: url('../images/wave-bot.png');
    background-repeat: repeat-x;
    background-position: 0 0;
    content: '';
    height: 10px;
    width: 100%;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 2;
  }
  &-top {
    color: #fff;
    position: absolute;
    top: -75px;
    width: 100%;
    left: 0;
    font-size: $font-normal;
    letter-spacing: 2px;
    line-height: 1.2;
    @media (max-width: $laptop-l) {
      font-size: $font-normal-l;
      top: -60px;
    }
    @media (max-width: $laptop-xs) {
      font-size: $font-normal-xs;
    }
    @media (max-width: $tablet) {
      font-size: $font-normal-t;
      top: -40px;
    }
    @media (max-width: $mobile-xl) {
      font-size: $font-normal-m-xl;
      top: -82px;
    }
    &__list {
      @media (max-width: $mobile-xl) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &-market {
    @media (max-width: $mobile-xl) {
      margin-bottom: 15px;
    }
    &__link {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      &:hover {
        color: $color-yellow;
      }
    }
    &__active {
      color: $color-yellow;
    }
  }
  &-city {
    &__link {
      color: $color-yellow;
      text-decoration: none;
      display: inline-block;
    }
  }
  &-platform {
    width: 100%;
    display: block;
    height: 560px;
    position: relative;
    z-index: 1;
  }
}