section.map
  .map-top
    .container
      .map-top__list.flex.justify-content-between
        .map-market
          a(href="#").map-market__link.map-market__hyper Гипермаркеты
          span.map-market__slash  / 
          a(href="#").map-market__link.map-market__super Супермаркеты
        .map-city
          span.map-city__text Ваш город: 
          a(href="#").map-city__link.dotted3.choise-city Москва
  .map-platform#map
