extends includes/default

block variables
  - var title = "lenta"
  - var main = true

block content
  .content
    include ./sections/header/header
    include ./sections/main/main
  include ./sections/footer/footer
