extends includes/default

block variables
  - var main = false
  - var title = "Запеченная утка с пряной лапшой и хрустящими овощами"
  - var howMuch = "6 порций, 2 ч. 30 мин."
  - var desc = "Запеченная целиком утка – роскошное угощение. В этом рецепте я расскажу, как хранить утку в холодильнике до двух недель, но при желании этот этап можно пропустить и после пункта 5 перейти сразу к пункту 9."
  - var imgPage = "recipes-item3.jpg"
  - var leftRecipe = "./recipe2.html"
  - var leftRecipeTitle = "Быстрые блины"
  - var rightRecipe = "./recipe4.html"
  - var rightRecipeTitle = "Запеченные овощные тефтели"
  - var kkal = "776"
  - var protein = "30,7 г."
  - var fat = "46,7 г./13 г."
  - var carbs = "62,7 г."
  - var sugar = "4 г./1,2 г."
  - var cellulose = "3,7 г."
  - var printRecipeLink = "/"
  - var downRecipeLink = "/"
  - var componentsTitle1 = ''
  - var componentsTitle2 = ''
  - var componentsTitle3 = ''
  - var components1 = [{name: '01. Утка, желательно фермерская, выпотрошить', amount: '1 шт. 2кг.'}, {name: '02. Китайская смесь «пять специй»', amount: '2 ст.л.'}, {name: '03. Апельсин', amount: '1 шт.'}, {name: '04. Несколько веточек розмарина', amount: ''}]
  - var components2 = [{name: '05. Несколько веточек шалфея', amount: ''}, {name: '06. Кочанчики капусты пак-чой', amount: '4 шт.'}, {name: '07. Красные перчики чили', amount: '1-2 шт.'},{name: '08. Большой пучок кинзы', amount: '60 г.'}]
  - var components3 = [{name: '09. Стручковый горошек', amount: '200 г.'}, {name: '10. Яичная лапша', amount: '500 г.'}, {name: '11. Кунжутное масло', amount: '2 ст.л.'}, {name: '12. Лайм', amount: '1 шт.'}]
  - var cooking1 = [{name: 'ШАГ 01', amount: 'Разогрейте духовку до 180 °C.'}, {name: 'ШАГ 02', amount: 'Натрите утку со всех сторон смесью специй, добавив по большой щепотке морской соли и черного перца.'}, {name: 'ШАГ 03', amount: 'Разрежьте апельсин пополам и положите внутрь утки вместе с розмарином и шалфеем. Положите утку в форму для запекания грудкой вниз и поставьте в духовку на 1 час.'}, {name: 'ШАГ 04', amount: 'Через час выньте утку и аккуратно слейте жир в миску. Переверните утку и запекайте еще 1 час, чтобы она стала мягкой и покрылась хрустящей корочкой.'}, {name: 'ШАГ 05', amount: 'На этом этапе у вас два варианта: с помощью двух вилок можно снять мясо с костей и сразу перейти к пункту 9 или дать утке полностью остыть и действовать по порядку.'}]
  - var cooking2 = [{name: 'ШАГ 06', amount: 'Когда утка остынет, разделите ее на 4 части, аккуратно срезав две половинки грудки и ножки. Корпус можно выбросить.'}, {name: 'ШАГ 07', amount: 'Положите в высокую стерилизованную банку и придавите, чтобы куски легли плотно. Залейте утиным жиром (при желании его можно процедить) так, чтобы он полностью покрыл утку. Закройте банку крышкой и поставьте в холодильник. В таком виде утку можно хранить 2 недели.'}, {name: 'ШАГ 08', amount: 'Перед подачей снимите слой жира (не выбрасывайте – на нем можно будет пожарить картошку). Поставьте утку в духовку, нагретую до 200 °C, на 20 минут: она должна стать мягкой и покрыться хрустящей корочкой.'}]
  - var cooking3 = [{name: 'ШАГ 09', amount: 'Вскипятите большую кастрюлю подсоленной воды.'}, {name: 'ШАГ 10', amount: 'Тем временем разрежьте на 4 части кочанчики пак-чой, тонко нарежьте чили, при желании удалив семена, оборвите листья кинзы.'}, {name: 'ШАГ 11', amount: 'Когда вода закипит, положите в кастрюлю пак-чой, горошек и лапшу, варите 4 минуты, затем слейте воду. Добавьте чили, кунжутное масло, сок лайма и листья кинзы, приправьте по вкусу. Выложите сверху кусочки утки и подавайте.'}]

block content
  .content
    include ./sections/header/header
    include ./sections/recipe-page/recipe-page
  include ./sections/footer/footer