extends includes/default

block variables
  - var main = false
  - var title = "Суп из запеченных помидоров с хлебом"
  - var howMuch = "6 порций, 1 ч. 30 мин."
  - var desc = "Этот рецепт я придумал по мотивам классического итальянского блюда pappa al pomodoro – предельно простого крестьянского супа, где все зависит от вкуса и аромата спелых летних помидоров. Чиабатта здесь смотрится как нельзя лучше, но вполне можно взять и зачерствевший хлеб – из него получаются великолепный суп или крутоны."
  - var imgPage = "recipes-item10.jpg"
  - var leftRecipe = "./recipe9.html"
  - var leftRecipeTitle = "Стейк с ароматным грибным соусом"
  - var rightRecipe = "./recipe11.html"
  - var rightRecipeTitle = "Суперполезный салат"
  - var kkal = "229"
  - var protein = "9,1 г."
  - var fat = "5,5 г./0,9 г."
  - var carbs = "38,1 г."
  - var sugar = "13,7 г./1,1 г."
  - var cellulose = "5,5 г."
  - var printRecipeLink = "Суп из запеченных помидоров с хлебом.pdf"
  - var downRecipeLink = "Суп из запеченных помидоров с хлебом.pdf"
  - var componentsTitle1 = ''
  - var componentsTitle2 = ''
  - var componentsTitle3 = ''
  - var components1 = [{name: '01. Спелые помидоры', amount: '2 кг.'}, {name: '02. Головка чеснока', amount: '½ шт.'}, {name: '03. Красные луковицы', amount: '2 шт.'}, {name: '04. Одна щепотка орегано', amount: ''}]
  - var components2 = [{name: '05. Оливковое масло', amount: ''}, {name: '06. Овощной бульон', amount: '1 л.'}, {name: '07. Несколько веточек базилика', amount: ''}]
  - var components3 = [{name: '08. Чиабатта', amount: '280 г.'}, {name: '09. Красный винный уксус', amount: ''}, {name: '09. Оливковое масло extra virgin', amount: ''}]
  - var cooking1 = [{name: 'ШАГ 01', amount: 'Разогрейте духовку до 200 °C.'}, {name: 'ШАГ 02', amount: 'Разрежьте помидоры пополам и положите срезом вверх в большой противень.'}, {name: 'ШАГ 03', amount: 'Разделите чеснок на зубчики, не очищая его от шелухи. Очистите лук, нарежьте его дольками толщиной 3 см. Добавьте то и другое к помидорам.'}, {name: 'ШАГ 04', amount: 'Посыпьте орегано, приправьте морской солью и черным перцем, сбрызните оливковым маслом и запекайте примерно 50 минут, чтобы помидоры стали мягкими и слегка карамелизовались.'}]
  - var cooking2 = [{name: 'ШАГ 05', amount: 'Переложите все содержимое противня (включая приставшие ко дну кусочки) в большую кастрюлю. Чеснок выдавите из шелухи и добавьте туда же.'}, {name: 'ШАГ 06', amount: 'Влейте бульон, добавьте крупно нарезанные стебли и большую часть листьев базилика.'}, {name: 'ШАГ 07', amount: 'Разрежьте чиабатту пополам, разломите одну часть на кусочки и добавьте в суп. Доведите до кипения и варите на слабом огне 10 минут.'}, {name: 'ШАГ 08', amount: 'Тем временем поставьте на сильный огонь сковороду-гриль.'}]
  - var cooking3 = [{name: 'ШАГ 09', amount: 'Нарежьте оставшуюся чиабатту и поджарьте на сковороде с обеих сторон до появления темных полосок.'}, {name: 'ШАГ 10', amount: 'Плесните в суп ложку уксуса и измельчите погружным блендером почти до однородности. Приправьте по вкусу.'}, {name: 'ШАГ 11', amount: 'Разлейте суп по тарелкам, сбрызните оливковым маслом extra virgin и посыпьте оставшимся базиликом. Подрумяненную чиабатту подайте отдельно.'}]

block content
  .content
    include ./sections/header/header
    include ./sections/recipe-page/recipe-page
  include ./sections/footer/footer