extends includes/default

block variables
  - var title = "about"
  - var main = false

block content
  .content
    include ./sections/header/header
    include ./sections/recipe-page/recipe-page
  include ./sections/footer/footer