extends includes/default

block variables
  - var main = false
  - var title = "Запеченные овощные тефтели"
  - var howMuch = "6 порций, 2 ч."
  - var desc = "К тефтелям с густым томатным соусом и рикоттой можно подать кускус или рис. Или положить тефтели в питу, дополнив салатом."
  - var imgPage = "recipes-item4.jpg"
  - var leftRecipe = "./recipe3.html"
  - var leftRecipeTitle = "Запеченная утка с пряной лапшой и хрустящими овощами"
  - var rightRecipe = "./recipe5.html"
  - var rightRecipeTitle = "Нежный грибной суп"
  - var kkal = "257"
  - var protein = "12 г."
  - var fat = "12,1 г./3,2 г."
  - var carbs = "25,8 г."
  - var sugar = "7,5 г./0,5 г."
  - var cellulose = "6,4 г."
  - var printRecipeLink = "Запеченные овощные тефтели.pdf"
  - var downRecipeLink = "Запеченные овощные тефтели.pdf"
  - var componentsTitle1 = ''
  - var componentsTitle2 = ''
  - var componentsTitle3 = ''
  - var components1 = [{name: '01. Булгур', amount: '100 г.'}, {name: '02. Маленькая луковица', amount: '1 шт.'}, {name: '03. Зубчики чеснока', amount: '3 шт.'}, {name: '04. Стебли сельдерея', amount: '1 шт.'}, {name: '05. Морковь', amount: '1 шт.'}, {name: '06. Оливковое масло', amount: ''}]
  - var components2 = [{name: '07. ½ Пучка петрушки', amount: '15 г.'}, {name: '08. Банка нута', amount: '400 г.'}, {name: '09. Крупное яйцо, желательно деревенское', amount: '1 шт.'}, {name: '10. Крошки из цельнозернового хлеба', amount: '50 г.'}, {name: '11. Лимон', amount: '1 шт.'}]
  - var components3 = [{name: '12. Пармезан', amount: '30 г.'}, {name: '13. 2 банки по 400 г сливовидных томатов в собственном соку ', amount: ''}, {name: '14. Крупные консервированные красные перцы', amount: '2 шт.'}, {name: '15. Рикотта', amount: '60 г.'}]
  - var cooking1 = [{name: 'ШАГ 01', amount: 'Насыпьте булгур в кастрюлю, залейте водой, в полтора-два раза превышающей по объему крупу, доведите до кипения, посолите и варите на слабом огне под крышкой 15-20 минут. Или приготовьте булгур, следуя инструкции на упаковке.'}, {name: 'ШАГ 02', amount: 'Варите булгур не более 20 минут – он должен дойти до готовности, но остаться плотноватым.'}, {name: 'ШАГ 03', amount: 'Тем временем очистите лук и 1 зубчик чеснока, обрежьте кончики у сельдерея, очистите морковь. Крупно нарежьте овощи, положите в комбайн и измельчите.'}, {name: 'ШАГ 04', amount: 'Разогрейте на среднем огне большую жаропрочную сковороду, влейте 1 ст.л. оливкового масла, всыпьте рубленые овощи и жарьте 12 минут, до мягкости, иногда помешивая.'}, {name: 'ШАГ 05', amount: 'Дайте готовому булгуру остыть.'}, {name: 'ШАГ 06', amount: 'Оборвите и отложите листья петрушки, стебли крупно порубите. Положите стебли и большую часть листьев в комбайн. Добавьте нут, слив жидкость, и яйцо. Всыпьте хлебные крошки и половину булгура, прокрутите в грубую пасту.'}]
  - var cooking2 = [{name: 'ШАГ 07', amount: 'Переложите смесь в большую миску, добавьте обжаренные овощи и оставшийся булгур.'}, {name: 'ШАГ 08', amount: 'Всыпьте мелко натертую лимонную цедру и пармезан, приправьте щепоткой черного перца и тщательно перемешайте руками.'}, {name: 'ШАГ 09', amount: 'Скатайте из смеси шарики размером с мячик для гольфа, выложите их на противень. У вас должно получиться 24 шарика. Накройте противень пленкой и поставьте в холодильник на 30 минут, чтобы тефтели стали плотнее.'}, {name: 'ШАГ 10', amount: 'Разогрейте духовку до 200 ºC.'}, {name: 'ШАГ 11', amount: 'Очистите и мелко порубите оставшийся чеснок. Снова поставьте на средний огонь большую жаропрочную сковороду, влейте 1 ст.л. масла и жарьте чеснок 2 минуты, пока он не подрумянится.'}]
  - var cooking3 = [{name: 'ШАГ 12', amount: 'Добавьте помидоры, разминая их деревянной ложкой, и 0,5 банки воды. Готовьте на слабом огне примерно 5 минут, до загустения. Влейте сок половины лимона.'}, {name: 'ШАГ 13', amount: 'Когда тефтели станут тверже, выньте их из холодильника.'}, {name: 'ШАГ 14', amount: 'Разогрейте на среднем огне большую сковороду с антипригарным покрытием, влейте 2 ст.л. масла и выложите в нее тефтели. Жарьте примерно 8 минут, иногда переворачивая, чтобы подрумянить их со всех сторон. Переложите в сковороду с соусом.'}, {name: 'ШАГ 15', amount: 'Нарежьте консервированные перцы на полоски и добавьте их в соус. Приправьте по вкусу и разложите сверху рикотту.'}, {name: 'ШАГ 16', amount: 'Запекайте в духовке примерно 20 минут, пока соус не начнет пузыриться. Подавайте, посыпав оставшимися листьями петрушки, с дольками лимона, чтобы сбрызнуть тефтели соком.'}]

block content
  .content
    include ./sections/header/header
    include ./sections/recipe-page/recipe-page
  include ./sections/footer/footer