extends includes/default

block variables
  - var main = false
  - var title = "«Павлова» с летними ягодами"
  - var howMuch = "10 порций, 1 ч. 25 мин."
  - var desc = "Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года, возьмите фрукты – например, отлично подойдут припущенные груши."
  - var imgPage = "recipes-item1.jpg"
  - var leftRecipe = "./recipe.html"
  - var leftRecipeTitle = "Хрустящий зимний салат"
  - var rightRecipe = "./recipe.html"
  - var rightRecipeTitle = "Быстрые блины"
  - var kkal = "261"
  - var protein = "4,1 г."
  - var fat = "10,9 г./6,7 г."
  - var carbs = "62,7 г."
  - var sugar = "38,8 г./0,4 г."
  - var cellulose = "0,8 г."
  - var printRecipeLink = "/"
  - var downRecipeLink = "/"
  - var componentsTitle1 = ''
  - var componentsTitle2 = ''
  - var componentsTitle3 = ''
  - var components1 = [{name: '01. Белки крупных яиц, желательно деревенских', amount: '300 г.'}, {name: '02. Мелкий сахар', amount: '6 шт.'}]
  - var components2 = [{name: '03. Клубника', amount: '300 г.'}, {name: '04. Малина', amount: '6 шт.'}, {name: '05. Жирные сливки', amount: '6 шт.'}]
  - var components3 = [{name: '07. Мелкий сахар', amount: '2 ст. л.'}, {name: '08. Стручок ванили', amount: '1 шт.'}, {name: '09. Несколько веточек мяты', amount: ''}]
  - var cooking1 = [{name: 'ШАГ 01', amount: 'Разогрейте духовку до 150 °C.'}, {name: 'ШАГ 02', amount: 'Для меренги взбейте белки со щепоткой морской соли в настольном миксере до крепких пиков. Не выключая миксер, постепенно всыпьте сахар.'}]
  - var cooking2 = [{name: 'ШАГ 01', amount: 'Разогрейте духовку до 150 °C.'}, {name: 'ШАГ 02', amount: 'Для меренги взбейте белки со щепоткой морской соли в настольном миксере до крепких пиков. Не выключая миксер, постепенно всыпьте сахар.'}]
  - var cooking3 = [{name: 'ШАГ 01', amount: 'Разогрейте духовку до 150 °C.'}, {name: 'ШАГ 02', amount: 'Для меренги взбейте белки со щепоткой морской соли в настольном миксере до крепких пиков. Не выключая миксер, постепенно всыпьте сахар.'}]

block content
  .content
    include ./sections/header/header
    include ./sections/recipe-page/recipe-page
  include ./sections/footer/footer