extends includes/default

block variables
  - var main = false
  - var title = "Семга в глазури с зелеными овощами и божественной зеленой заправкой "
  - var howMuch = "2 порции, 20 мин."
  - var desc = "Быстрый и простой ужин: семга в насыщенной глазури и освежающая ароматная заправка."
  - var imgPage = "recipes-item8.jpg"
  - var leftRecipe = "./recipe7.html"
  - var leftRecipeTitle = "Рагу из курицы в итальянском стиле"
  - var rightRecipe = "./recipe9.html"
  - var rightRecipeTitle = "Стейк с ароматным грибным соусом "
  - var kkal = "597"
  - var protein = "4,1 г."
  - var fat = "33 г./5,7 г."
  - var carbs = "26,2 г."
  - var sugar = "20 г./1,5 г."
  - var cellulose = "7,6 г."
  - var printRecipeLink = "/"
  - var downRecipeLink = "/"
  - var componentsTitle1 = ''
  - var componentsTitle2 = ''
  - var componentsTitle3 = 'ЗАПРАВКА'
  - var components1 = [{name: '01. Побеги брокколи', amount: '200 г.'}, {name: '02. Замороженные соевые бобы', amount: '200 г.'}, {name: '03. 2 филе по 120 г семги с кожей, желательно экологичного вылова, удалить чешую и мелкие косточки', amount: ''}, {name: '04. Оливковое масло', amount: ''}, {name: '04. Жидкий мед', amount: '1 ст.л.'}]
  - var components2 = [{name: '05. Хрен', amount: '1 ст.л.'}, {name: '06. Лайм', amount: '1 шт.'}, {name: '07. Мелкий молодой шпинат', amount: '100 г.'}, {name: '08. Стебли зеленого лука', amount: '4 шт.'}, {name: '09. Сладкий соус чили', amount: ''}]
  - var components3 = [{name: '10. Спелое авокадо', amount: '1 шт.'}, {name: '11. ½ пучка мяты', amount: '15 г.'}, {name: '12. Зеленый перчик чили', amount: '1 шт.'}, {name: '13. Зубчик чеснока', amount: '1 шт.'}, {name: '10. Обезжиренный натуральный йогурт', amount: '6 ст.л.'}, {name: '10. Лайм', amount: '1 шт.'}]
  - var cooking1 = [{name: 'ШАГ 01', amount: 'Бланшируйте брокколи и соевые бобы в течение 2 минут в кипящей подсоленной воде на сильном огне. Слейте воду и отставьте.'}, {name: 'ШАГ 02', amount: 'Приправьте семгу морской солью и черным перцем.'}, {name: 'ШАГ 03', amount: 'Плесните в сковороду немного масла, разогрейте на сильном огне, положите семгу кожей вниз и жарьте 3-4 минуты, почти до готовности.'}]
  - var cooking2 = [{name: 'ШАГ 04', amount: 'Приготовьте заправку: разрежьте авокадо пополам, удалите косточку и выскребите мякоть в чашу блендера. Оборвите листья мяты, самые мелкие отложите, а остальные положите в блендер. Добавьте чили, очищенный чеснок, йогурт, сок лайма и по щепотке соли и перца. Тщательно прокрутите и слегка разбавьте водой, чтобы получилась консистенция нежирной сметаны.'}, {name: 'ШАГ 05', amount: 'Добавьте в сковороду с семгой мед и хрен, выжмите сок лайма, перемешайте и дайте увариться. Переверните семгу, обваляв ее в получившейся густой глазури, и переложите на подогретую тарелку.'}]
  - var cooking3 = [{name: 'ШАГ 06', amount: 'Положите в сковороду бланшированные овощи и шпинат, плесните немного воды. Дайте шпинату завянуть и перемешайте, чтобы овощи собрали остатки глазури.'}, {name: 'ШАГ 07', amount: 'Обрежьте кончики зеленого лука и тонко его нарежьте.'}, {name: 'ШАГ 08', amount: 'Разложите по тарелкам овощи, добавьте семгу, посыпьте зеленым луком и оставшейся мятой. Подавайте, полив сладким соусом чили.'}]

block content
  .content
    include ./sections/header/header
    include ./sections/recipe-page/recipe-page
  include ./sections/footer/footer