extends includes/default

block variables
  - var main = false
  - var title = "Старая добрая лазанья"
  - var howMuch = "8 порций, 3 ч."
  - var desc = "Нет ничего лучше, чем собраться всей семьей и угоститься сытной, нежной и вкусной лазаньей. В болоньезе можно добавить любые сезонные овощи, которые найдутся в холодильнике."
  - var imgPage = "recipes-item12.jpg"
  - var leftRecipe = "./recipe11.html"
  - var leftRecipeTitle = "Суперполезный салат"
  - var rightRecipe = "./recipe1.html"
  - var rightRecipeTitle = "«Павлова» с летними ягодами"
  - var kkal = "430"
  - var protein = "27 г."
  - var fat = "16 г./8 г."
  - var carbs = "41 г."
  - var sugar = "12 г./1,1 г."
  - var cellulose = "3,6 г."
  - var printRecipeLink = "Старая добрая лазанья.pdf"
  - var downRecipeLink = "Старая добрая лазанья.pdf"
  - var componentsTitle1 = 'СОУС БОЛОНЬЕЗЕ'
  - var componentsTitle2 = ''
  - var componentsTitle3 = 'ЛАЗАНЬЯ И БЕЛЫЙ СОУС'
  - var components1 = [{name: '01. Красная луковица', amount: '2 шт.'}, {name: '02. Зубчик чеснока ', amount: '2 шт.'}, {name: '04. Морковка', amount: '2 шт.'}, {name: '05. Стебль сельдерея', amount: '2 шт.'}, {name: '06. Грибы ', amount: '250 г.'}, {name: '07. ½ пучка тимьяна', amount: '15 г.'}, {name: '08. ½ пучка базилика', amount: '15 г.'}]
  - var components2 = [{name: '09. Ломтик копченого бекона с прослойками жира', amount: '4 шт.'}, {name: '10. Оливковое масло', amount: ''}, {name: '11. Нежирный говяжий фарш, желательно фермерский', amount: '250 г.'}, {name: '12. Нежирный свиной фарш, желательно фермерский', amount: '250 г.'}, {name: '13. Две банки по 400 г сливовидных томатов в собственном соку', amount: ''}, {name: '14. Красное сухое вино', amount: '250 мл.'}]
  - var components3 = [{name: '15. Сухие листья теста для лазаньи', amount: '300 г.'}, {name: '16. Маленькая красная луковица', amount: '½ шт.'}, {name: '17. Нежирное молоко', amount: '600 мл.'}, {name: '18. Веточка петрушки', amount: '1 шт.'}, {name: '19. Целый мускатный орех', amount: '1 шт.'}, {name: '20. Горошина черного перца', amount: '6 шт.'}, {name: '21. Сливочное масло', amount: '35 г.'}, {name: '22. Мука', amount: '50 г.'}, {name: '23. Пармезан', amount: '70 г.'}]
  - var cooking1 = [{name: 'ШАГ 01', amount: 'Приготовьте болоньезе. Очистите и мелко порубите лук, чеснок, морковь и сельдерей, крупно нарежьте грибы.'}, {name: 'ШАГ 02', amount: 'Оборвите листья тимьяна и базилика, мелко порубите стебли базилика. Тонко нарежьте бекон.'}, {name: 'ШАГ 03', amount: 'Разогрейте на среднем огне просторную тяжелую кастрюлю, влейте в нее пару ложек оливкового масла. Всыпьте бекон и жарьте до золотистого цвета. Добавьте лук, чеснок, морковь, сельдерей, грибы и тимьян и жарьте, постоянно помешивая, примерно 10 минут, чтобы овощи размягчились и слегка подрумянились.'}, {name: 'ШАГ 04', amount: 'Добавьте фарш и помидоры, разминая все деревянной ложкой. Налейте в 1 банку из-под томатов воды и вылейте ее в кастрюлю.'}, {name: 'ШАГ 05', amount: 'Влейте вино, добавьте по хорошей щепотке морской соли и черного перца и рубленые стебли базилика. Доведите до кипения, убавьте огонь и готовьте при слабом кипении, неплотно прикрыв крышкой, примерно 1 час. Периодически помешивайте.'}]
  - var cooking2 = [{name: 'ШАГ 06', amount: 'Через час снимите крышку, увеличьте огонь и готовьте еще 20-30 минут, чтобы соус загустел. Регулярно помешивайте, при необходимости добавьте воды.'}, {name: 'ШАГ 07', amount: 'Тем временем доведите до кипения большую кастрюлю подсоленной воды, плесните в нее немного оливкового масла и бланшируйте листы лазаньи в течение 3-4 минут. Лучше всего сделать это в несколько приемов. Слейте воду, аккуратно обсушите листы бумажным полотенцем и отложите.'}, {name: 'ШАГ 08', amount: 'Разогрейте духовку до 200°C.'}, {name: 'ШАГ 09', amount: 'Приготовьте белый соус. Очистите и тонко нарежьте лук, положите в кастрюлю с толстым дном и поставьте на средний огонь. Добавьте молоко, петрушку, пару щепоток свеженатертого мускатного ореха и горошины черного перца. Доведите до кипения и процедите в кувшин.'}, {name: 'ШАГ 10', amount: 'Растопите в той же кастрюле на среднем огне сливочное масло, всыпьте муку и, постоянно помешивая, постепенно влейте молоко, чтобы получился однородный соус. Продолжая помешивать, доведите до кипения и варите на слабом огне пару минут. Снимите с огня. Мелко натрите почти весь пармезан, добавьте его в соус, приправьте по вкусу.'}]
  - var cooking3 = [{name: 'ШАГ 11', amount: 'Когда болоньезе будет готов, снимите его с огня, порвите листья базилика, добавьте их в кастрюлю. Приправьте по вкусу.'}, {name: 'ШАГ 12', amount: 'Соберите лазанью. Выложите треть болоньезе на дно жаропрочной формы (диаметром 32 см), сверху уложите слой листов теста и треть белого соуса. Повторите процесс 2 раза, закончив слоем белого соуса.'}, {name: 'ШАГ 13', amount: 'Мелко натрите сверху оставшийся пармезан, сбрызните оливковым маслом, неплотно накройте фольгой и поставьте в духовку на 20 минут.'}, {name: 'ШАГ 14', amount: 'Снимите фольгу и запекайте еще 30 минут под грилем или с конвекцией (при той же температуре), пока лазанья не подрумянится и не начнет пузыриться по краям. Подавайте с салатом из сезонной зелени.'}]

block content
  .content
    include ./sections/header/header
    include ./sections/recipe-page/recipe-page
  include ./sections/footer/footer