extends includes/default

block variables
  - var main = false
  - var title = "Быстрые блины"
  - var howMuch = "8 порций, 15 мин."
  - var desc = "Такие блины можно приготовить и со сладкой, и с сытной начинкой. Очень удобно!"
  - var imgPage = "recipes-item2.jpg"
  - var leftRecipe = "./recipe1.html"
  - var leftRecipeTitle = "«Павлова» с летними ягодами"
  - var rightRecipe = "./recipe3.html"
  - var rightRecipeTitle = "Запеченная утка с пряной лапшой и хрустящими овощами"
  - var kkal = "108"
  - var protein = "5,2 г."
  - var fat = "4,1 г./1,6 г."
  - var carbs = "13,7 г."
  - var sugar = "1,7 г./0,1 г."
  - var cellulose = "0,4 г."
  - var printRecipeLink = "/"
  - var downRecipeLink = "/"
  - var componentsTitle1 = ''
  - var componentsTitle2 = ''
  - var componentsTitle3 = ''
  - var components1 = [{name: '01. Крупные яйца, желательно деревенские', amount: '3 шт.'}, {name: '02. Мука', amount: '125 г.'}]
  - var components2 = [{name: '03. Молоко', amount: '250 мл.'}, {name: '04. Сливочное масло', amount: ''}]
  - var components3 = []
  - var cooking1 = [{name: 'ШАГ 01', amount: 'Разбейте яйца в чашу блендера, добавьте муку, молоко и 1 щепотку морской соли. Прокрутите до получения однородного теста.'}, {name: 'ШАГ 02', amount: 'Перелейте в миску и оставьте на 15 минут.'}]
  - var cooking2 = [{name: 'ШАГ 03', amount: 'Разогрейте на среднем огне большую сковороду с антипригарным покрытием. Растопите в ней кусочек сливочного масла (или смажьте растительным). Покрутите сковороду, чтобы масло растеклось по дну.'}, {name: 'ШАГ 04', amount: 'Влейте 1 половник теста и снова покрутите, чтобы оно растеклось ровным слоем. Жарьте 1-2 минуты, пока блин не начнет отставать от дна по краям.'}]
  - var cooking3 = [{name: 'ШАГ 05', amount: 'Когда блин подрумянится, переверните его и жарьте еще 1 минуту, до готовности.'}, {name: 'ШАГ 09', amount: 'Накройте второй меренгой, слегка прижмите. Смажьте оставшимся кремом и посыпьте оставшимися ягодами.'}, {name: 'ШАГ 6', amount: 'Подавайте сразу, с любимой начинкой.'}]

block content
  .content
    include ./sections/header/header
    include ./sections/recipe-page/recipe-page
  include ./sections/footer/footer