extends includes/default

block variables
  - var main = false
  - var title = "Печенье с лимонной цедрой"
  - var howMuch = "30 порций, 25 мин."
  - var desc = "Такое печенье – отличный подарок, сделанный своими руками. А приготовить его очень просто. Если вам хочется придать сладости нотку Рождества, замените лимонную цедру на апельсиновую и добавьте в сахар щепотку корицы."
  - var imgPage = "recipes-item6.jpg"
  - var leftRecipe = "./recipe5.html"
  - var leftRecipeTitle = "Нежный грибной суп"
  - var rightRecipe = "./recipe7.html"
  - var rightRecipeTitle = "Рагу из курицы в итальянском стиле"
  - var kkal = "76"
  - var protein = "0,9 г."
  - var fat = "3,8 г./2,1 г."
  - var carbs = "10,4 г."
  - var sugar = "5,2 г./0,1 г."
  - var cellulose = "0,2 г."
  - var printRecipeLink = "Печенье с лимонной цедрой.pdf"
  - var downRecipeLink = "Печенье с лимонной цедрой.pdf"
  - var componentsTitle1 = ''
  - var componentsTitle2 = ''
  - var componentsTitle3 = ''
  - var components1 = [{name: '01. Сливочное масло комнатной температуры', amount: '125 г.'}, {name: '02. Мелкий сахар', amount: '100 г.'}, {name: '03. Крупное яйцо, желательно деревенское', amount: '1 шт.'}]
  - var components2 = [{name: '04. Лимон', amount: '4 шт.'}, {name: '05. Муки плюс еще немного для посыпания', amount: '200 г.'}, {name: '06. Разрыхлитель', amount: '¼ ч. л.'}]
  - var components3 = [{name: '07. Тростниковый сахар демерара', amount: '3 ст. л.'}, {name: '08. Сахарная пудра (по желанию)', amount: ''}]
  - var cooking1 = [{name: 'ШАГ 01', amount: 'Тщательно взбейте масло с мелким сахаром с помощью электрического миксера. Добавьте яйцо и взбейте в пышную массу.'}, {name: 'ШАГ 02', amount: 'Добавьте мелко натертую цедру лимонов, всыпьте муку, разрыхлитель и 1 щепотку морской соли. Перемешайте и соберите тесто в ком.'}, {name: 'ШАГ 03', amount: 'Накройте пленкой и поставьте в холодильник на 2 часа, чтобы тесто стало плотным.'}]
  - var cooking2 = [{name: 'ШАГ 04', amount: 'Разогрейте духовку до 180 °C, выстелите несколько противней бумагой для выпечки.'}, {name: 'ШАГ 05', amount: 'Раскатайте тесто на посыпанном мукой столе до толщины 0,5 см.'}, {name: 'ШАГ 06', amount: 'Вырежьте из теста печенье разной формы, выложите на противни и посыпьте тростниковым сахаром.'}]
  - var cooking3 = [{name: 'ШАГ 07', amount: 'Выпекайте 10-12 минут, чтобы печенье подрумянилось по краям.'}, {name: 'ШАГ 08', amount: 'Переложите на решетку и дайте остыть. При желании посыпьте сахарной пудрой – и можно подавать.'}]

block content
  .content
    include ./sections/header/header
    include ./sections/recipe-page/recipe-page
  include ./sections/footer/footer