extends includes/default

block variables
  - var main = false
  - var title = "Суперполезный салат"
  - var howMuch = "6 порций, 40 мин."
  - var desc = "Салат из фруктов, овощей, проростков и орехов – это яркая палитра вкусов, ароматов и текстур. И максимум пользы!"
  - var imgPage = "recipes-item11.jpg"
  - var leftRecipe = "./recipe10.html"
  - var leftRecipeTitle = "Суп из запеченных помидоров с хлебом"
  - var rightRecipe = "./recipe12.html"
  - var rightRecipeTitle = "Старая добрая лазанья"
  - var kkal = "385"
  - var protein = "11 г."
  - var fat = "18,4 г./3,3 г."
  - var carbs = "49,6 г."
  - var sugar = "11,3 г./0,7 г."
  - var cellulose = "5,3 г."
  - var printRecipeLink = "Суперполезный салат.pdf"
  - var downRecipeLink = "Суперполезный салат.pdf"
  - var componentsTitle1 = ''
  - var componentsTitle2 = ''
  - var componentsTitle3 = ''
  - var components1 = [{name: '01. Батат', amount: '700 г.'}, {name: '02. Одна щепотка сухих хлопьев чили', amount: ''}, {name: '03. Одна щепотка молотого кориандра', amount: ''}, {name: '04. Одна маленькая щепотка молотой корицы ', amount: ''}, {name: '05. Оливковое масло', amount: ''}, {name: '06. Киноа', amount: '200 г.'}]
  - var components2 = [{name: '07. Брокколи', amount: '320 г.'}, {name: '08. Смесь орехов', amount: '35 г.'}, {name: '09. Гранат', amount: '1 шт.'}, {name: '10. Оливковое масло extra virgin ', amount: ''}, {name: '10. Лайм', amount: '2 шт.'}, {name: '11. Бальзамический уксус', amount: '1-2 ст.л.'}]
  - var components3 = [{name: '12. Смесь проростков', amount: '40 г.'}, {name: '13. Одна коробочка ростков кресс-салата ', amount: ''}, {name: '13. Один пучок кинзы', amount: '30 г.'}, {name: '14. Свежий красный перчик чили', amount: '1 шт.'}, {name: '15. Спелое авокадо', amount: '1 шт.'}, {name: '15. Феты', amount: '20 г.'}]
  - var cooking1 = [{name: 'ШАГ 01', amount: 'Разогрейте духовку до 200 °C.'}, {name: 'ШАГ 02', amount: 'Соскребите кожуру с батата и нарежьте его кусочками размером 2-3 см. Переложите на противень, посыпьте хлопьями чили, кориандром, корицей, морской солью и черным перцем, сбрызните оливковым маслом и тщательно перемешайте.'}, {name: 'ШАГ 03', amount: 'Выложите ровным слоем и поставьте в духовку на 15-20 минут, чтобы кусочки батата подрумянились и стали хрустящими.'}, {name: 'ШАГ 04', amount: 'Тем временем отварите киноа в кипящей подсоленной воде по инструкции на упаковке.'}, {name: 'ШАГ 05', amount: 'Разделите брокколи на небольшие соцветия, тонко нарежьте стебель. Положите в жаропрочный дуршлаг и поставьте на кастрюлю с киноа. Накройте и готовьте на пару 3 минуты, чтобы брокколи стала немного мягче.'}]
  - var cooking2 = [{name: 'ШАГ 06', amount: 'Когда киноа сварится, промойте его холодной проточной водой. Дайте киноа и брокколи остыть. Выньте батат из духовки и также дайте ему остыть.'}, {name: 'ШАГ 07', amount: 'Подрумяньте орехи на сухой сковороде на умеренно сильном огне в течение 2-3 минут. Переложите в ступку и слегка растолките пестиком.'}, {name: 'ШАГ 08', amount: 'Разрежьте гранат пополам и выжмите сок из одной половины в большую миску. Добавьте в 3 раза больше оливкового масла extra virgin, сок лаймов и бальзамический уксус. Тщательно размешайте, взбивая, и приправьте по вкусу.'}]
  - var cooking3 = [{name: 'ШАГ 09', amount: 'Положите в миску с заправкой брокколи, проростки и срезанный кресс-салат. Крупно порубите кинзу вместе со стеблями, тонко нарежьте чили и добавьте в миску вместе с киноа и бататом.'}, {name: 'ШАГ 10', amount: 'Хорошенько перемешайте и переложите салат на блюдо. Разрежьте авокадо пополам, выскребите ложкой мякоть и выложите ее сверху.'}, {name: 'ШАГ 11', amount: 'Надрежьте оставшуюся половинку граната, разломите ее и выньте зерна. Посыпьте салат гранатовыми зернами и орехами, раскрошите сверху фету и подавайте.'}]

block content
  .content
    include ./sections/header/header
    include ./sections/recipe-page/recipe-page
  include ./sections/footer/footer