extends includes/default

block variables
  - var main = false
  - var title = "Нежный грибной суп"
  - var howMuch = "6 порций, 45 мин."
  - var desc = "Обожаю насыщенные земляные нотки во вкусе этого супа-пюре! Непревзойденная классика."
  - var imgPage = "recipes-item5.jpg"
  - var leftRecipe = "./recipe4.html"
  - var leftRecipeTitle = "Запеченные овощные тефтели"
  - var rightRecipe = "./recipe6.html"
  - var rightRecipeTitle = "Печенье с лимонной цедрой"
  - var kkal = "148"
  - var protein = "7,9 г."
  - var fat = "7,5 г./2,3 г."
  - var carbs = "12,4 г."
  - var sugar = "3,6 г./1,1 г."
  - var cellulose = "3,2 г."
  - var printRecipeLink = "/"
  - var downRecipeLink = "/"
  - var componentsTitle1 = ''
  - var componentsTitle2 = ''
  - var componentsTitle3 = ''
  - var components1 = [{name: '01. Смесь разных грибов', amount: '600 г'}, {name: '02. Луковица', amount: '1 шт.'}, {name: '03. Стебли сельдерея', amount: '2 шт.'}, {name: '04. Зубчики чеснока', amount: '3 шт.'}]
  - var components2 = [{name: '05. Несколько веточек петрушки', amount: ''}, {name: '06. Несколько веточек тимьяна', amount: ''}, {name: '07. Оливковое масло', amount: ''}, {name: '08. Куриный или овощной бульон', amount: '1,5 л.'}]
  - var components3 = [{name: '09. Нежирные сливки', amount: '75 мл.'}, {name: '10. Ломтики чиабатты', amount: '6 шт.'}, {name: '11. Оливковое масло extra virgin', amount: ''}]
  - var cooking1 = [{name: 'ШАГ 01', amount: 'Очистите и тонко нарежьте грибы.'}, {name: 'ШАГ 02', amount: 'Очистите и тонко нарежьте лук, сельдерей и чеснок, оборвите и отложите листья петрушки, мелко порубите стебли. Оборвите листья тимьяна.'}, {name: 'ШАГ 03', amount: 'Нагрейте на среднем огне большую кастрюлю с толстым дном, влив ложку оливкового масла. Всыпьте лук, сельдерей, чеснок, стебли петрушки, листья тимьяна и грибы, накройте и готовьте на небольшом огне до мягкости.'}]
  - var cooking2 = [{name: 'ШАГ 04', amount: 'Отложите 4 ст.л. грибов.'}, {name: 'ШАГ 05', amount: 'Налейте в кастрюлю бульон, доведите до кипения на среднем огне, убавьте огонь и варите 15 минут.'}, {name: 'ШАГ 06', amount: 'Приправьте по вкусу морской солью и черным перцем, затем тщательно взбейте блендером. '}, {name: 'ШАГ 07', amount: 'Влейте сливки, доведите до кипения и снимите с огня.'}]
  - var cooking3 = [{name: 'ШАГ 08', amount: 'Обжарьте ломтики чиабатты на сковороде-гриль, выложите на них почти все отложенные грибы и слегка сбрызните маслом extra virgin.'}, {name: 'ШАГ 09', amount: 'Разлейте суп по тарелкам, посыпьте порубленными листьями петрушки и оставшимися грибами. Подавайте с чиабаттой и грибным гарниром.'}]

block content
  .content
    include ./sections/header/header
    include ./sections/recipe-page/recipe-page
  include ./sections/footer/footer