extends includes/default

block variables
  - var main = false
  - var title = "Стейк с ароматным грибным соусом"
  - var howMuch = "2 порции, 30 мин."
  - var desc = "Если вы решили приготовить стейк, купите лучшее мясо, какое можете себе позволить. По возможности выбирайте фермерское мясо, а если вы отправились за ним в супермаркет, советую взять выдержанное – оно самое вкусное. Не стоит покупать ярко-красные постные стейки – лучше взять куски с тонкой мраморной сеткой жира: они намного сочнее и вкуснее."
  - var imgPage = "recipes-item9.jpg"
  - var leftRecipe = "./recipe8.html"
  - var leftRecipeTitle = "Семга в глазури с зелеными овощами и божественной зеленой заправкой"
  - var rightRecipe = "./recipe10.html"
  - var rightRecipeTitle = "Суп из запеченных помидоров с хлебом"
  - var kkal = "503"
  - var protein = "44,8 г."
  - var fat = "35,5 г./15,2 г."
  - var carbs = "0,9 г."
  - var sugar = "0,5 г./1,3 г."
  - var cellulose = "0,2 г."
  - var printRecipeLink = "Стейк с ароматным грибным соусом .pdf"
  - var downRecipeLink = "Стейк с ароматным грибным соусом .pdf"
  - var componentsTitle1 = ''
  - var componentsTitle2 = ''
  - var componentsTitle3 = ''
  - var components1 = [{name: '01. Две горсти лесных грибов', amount: ''}, {name: '02. Зубчик чеснока', amount: '1 шт.'}, {name: '03. Горошины черного перца', amount: '1 ч.л.'}]
  - var components2 = [{name: '04. Оливковое масло', amount: ''}, {name: '05. Немного бренди (по желанию)', amount: ''}, {name: '06. Два стейка из тонкого края, по 175 г каждый', amount: ''}]
  - var components3 = [{name: '07. Несколько веточек петрушки', amount: ''}, {name: '08. Крем-фреш или жирных сливок', amount: '2 ст.л.'}]
  - var cooking1 = [{name: 'ШАГ 01', amount: 'Почистите и крупно нарежьте грибы. Очистите и тонко нарежьте чеснок. Растолките горошины перца.'}, {name: 'ШАГ 02', amount: 'Плесните в большую сковороду оливкового масла и нагрейте на сильном огне. Всыпьте грибы и жарьте 3 минуты, до золотистого цвета.'}, {name: 'ШАГ 03', amount: 'Добавьте чеснок, перец и щепотку морской соли и жарьте еще 2 минуты.'}, {name: 'ШАГ 04', amount: 'Сбрызните бренди (если используете) и готовьте еще 1 минуту, чтобы жидкость выпарилась, затем снимите с огня.'}]
  - var cooking2 = [{name: 'ШАГ 05', amount: 'Поставьте на сильный огонь чистую сковороду и хорошенько ее разогрейте.'}, {name: 'ШАГ 06', amount: 'Слегка сбрызните стейки оливковым маслом, посолите, поперчите и разотрите.'}, {name: 'ШАГ 07', amount: 'Положите стейки в раскаленную сковороду и жарьте до нужной степени готовности: по 1-2 минуты с каждой стороны, если хотите получить среднюю прожарку с кровью, по 2-3 минуты – до средней прожарки, по 4 минуты – до полной готовности.'}]
  - var cooking3 = [{name: 'ШАГ 08', amount: 'Тем временем оборвите и крупно порубите листья петрушки.'}, {name: 'ШАГ 09', amount: 'Переложите готовые стейки на подогретые тарелки и дайте им немного полежать.'}, {name: 'ШАГ 10', amount: 'Убавьте огонь до слабого, положите в сковороду, где жарилось мясо, крем-фреш или сливки, плесните немного воды и добавьте петрушку и грибы. Прогрейте в течение 1-2 минут, тщательно перемешивая с соком от жарки стейков.'}, {name: 'ШАГ 11', amount: 'Подавайте стейки c грибным соусом и своим любимым гарниром.'}]

block content
  .content
    include ./sections/header/header
    include ./sections/recipe-page/recipe-page
  include ./sections/footer/footer