extends includes/default

block variables
  - var main = false
  - var title = "«Павлова» с летними ягодами"
  - var howMuch = "10 порций, 1 ч. 25 мин."
  - var desc = "Этот летний десерт с горкой свежих ягод точно станет гвоздем программы. А если вы решите приготовить его в другое время года, возьмите фрукты – например, отлично подойдут припущенные груши."
  - var imgPage = "recipes-item1.jpg"
  - var leftRecipe = "./recipe12.html"
  - var leftRecipeTitle = "Хрустящий зимний салат"
  - var rightRecipe = "./recipe2.html"
  - var rightRecipeTitle = "Быстрые блины"
  - var kkal = "261"
  - var protein = "4,1 г."
  - var fat = "10,9 г./6,7 г."
  - var carbs = "62,7 г."
  - var sugar = "38,8 г./0,4 г."
  - var cellulose = "0,8 г."
  - var printRecipeLink = "/"
  - var downRecipeLink = "/"
  - var componentsTitle1 = 'Меренга'
  - var componentsTitle2 = 'Начинка'
  - var componentsTitle3 = ''
  - var components1 = [{name: '01. Белки крупных яиц, желательно деревенских', amount: '6 шт.'}, {name: '02. Мелкий сахар', amount: '300 г.'}]
  - var components2 = [{name: '03. Клубника', amount: '200 г.'}, {name: '04. Малина', amount: '200 г.'}, {name: '05. Жирные сливки', amount: '200 мл.'}, {name: '06. Обезжиренный натуральный йогурт', amount: '200 г.'}]
  - var components3 = [{name: '07. Мелкий сахар', amount: '2 ст. л.'}, {name: '08. Стручок ванили', amount: '1 шт.'}, {name: '09. Несколько веточек мяты', amount: ''}]
  - var cooking1 = [{name: 'ШАГ 01', amount: 'Разогрейте духовку до 150 °C.'}, {name: 'ШАГ 02', amount: 'Для меренги взбейте белки со щепоткой морской соли в настольном миксере до крепких пиков. Не выключая миксер, постепенно всыпьте сахар.'}, {name: 'ШАГ 03', amount: 'Включите миксер на максимальную скорость и взбивайте 8 минут, пока сахар полностью не растворится. Если в массе все еще чувствуются крупинки сахара, взбивайте еще минуту, но следите, чтобы меренга не опала.'}, {name: 'ШАГ 04', amount: 'Выстелите два противня бумагой для выпечки, разделите между ними поровну меренгу и сформуйте из каждой половины круг диаметром примерно 20 см. '}]
  - var cooking2 = [{name: 'ШАГ 05', amount: 'Выпекайте 1 час, чтобы меренга получилась слегка золотистой, но пышной внутри.'}, {name: 'ШАГ 06', amount: 'Удалите хвостики клубники, крупные ягоды разрежьте на 2 или 4 части. Смешайте клубнику и малину.'}, {name: 'ШАГ 07', amount: '7.	Взбейте сливки с сахаром до мягких пиков, затем добавьте йогурт. Разрежьте вдоль стручок ванили, выскребите семена и добавьте в сливочный крем.'}]
  - var cooking3 = [{name: 'ШАГ 08', amount: '8.	Переложите один круг меренги на блюдо, выложите на него половину крема и слегка разровняйте. Посыпьте половиной ягод.'}, {name: 'ШАГ 09', amount: 'Накройте второй меренгой, слегка прижмите. Смажьте оставшимся кремом и посыпьте оставшимися ягодами.'}, {name: 'ШАГ 10', amount: 'Посыпьте мелкими листиками мяты и подавайте'}]

block content
  .content
    include ./sections/header/header
    include ./sections/recipe-page/recipe-page
  include ./sections/footer/footer