extends includes/default

block variables
  - var main = false
  - var title = "Рагу из курицы в итальянском стиле"
  - var howMuch = "6 порций, 1 ч. 30 мин."
  - var desc = "Это отличный рецепт для тех случаев, когда вы ждете к ужину друзей или родственников. Подготовьте все ингредиенты, сложите в одну кастрюлю и поставьте в духовку, а сами займитесь другими делами. Перед подачей останется только быстренько приготовить гарнир из зеленых овощей."
  - var imgPage = "recipes-item7.jpg"
  - var leftRecipe = "./recipe6.html"
  - var leftRecipeTitle = "Печенье с лимонной цедрой"
  - var rightRecipe = "./recipe8.html"
  - var rightRecipeTitle = "Семга в глазури с зелеными овощами и божественной зеленой заправкой "
  - var kkal = "443"
  - var protein = "23,2 г."
  - var fat = "14,3 г./3,1 г."
  - var carbs = "48,6 г."
  - var sugar = "8,6 г./0,97 г."
  - var cellulose = "12,7 г."
  - var printRecipeLink = "Рагу из курицы в итальянском стиле.pdf"
  - var downRecipeLink = "Рагу из курицы в итальянском стиле.pdf"
  - var componentsTitle1 = ''
  - var componentsTitle2 = ''
  - var componentsTitle3 = ''
  - var components1 = [{name: '01. Мука', amount: '4 ст. л.'}, {name: '02. Куриные бедрышки или голени', amount: '12 шт.'}, {name: '03. Оливковое масло', amount: ''}, {name: '04. ½ пучка розмарина', amount: '15 г.'}]
  - var components2 = [{name: '05. ½ головки чеснока', amount: ''}, {name: '04. Белое сухое вино или куриный бульон', amount: '500 мл.'}, {name: '05. Мелкий молодой картофель', amount: '1,2 кг.'}, {name: '06. Большая горсть разных оливок (с косточками)', amount: '1 шт.'}]
  - var components3 = [{name: '07. Сезонные листовые овощи', amount: '1 кг.'}, {name: '08. Зеленая стручковая фасоль', amount: '400 г.'}, {name: '09. Оливковое масло extra virgin ', amount: ''}, {name: '10. Лимон', amount: '1 шт.'}]
  - var cooking1 = [{name: 'ШАГ 01', amount: 'Разогрейте духовку до 190 °C.'}, {name: 'ШАГ 02', amount: 'Насыпьте в миску муку, приправьте морской солью и черным перцем и обваляйте в ней курицу.'}, {name: 'ШАГ 03', amount: 'Разогрейте на среднем огне большую тяжелую жаропрочную кастрюлю, влейте 1 ст.л. оливкового масла и равномерно подрумяньте со всех сторон половину куриных бедрышек. Переложите на тарелку и обжарьте оставшуюся курицу.'}, {name: 'ШАГ 04', amount: 'Верните всю курицу в кастрюлю, добавьте листья розмарина и зубчики чеснока прямо в шелухе.'}]
  - var cooking2 = [{name: 'ШАГ 05', amount: 'Жарьте еще несколько минут, затем влейте вино или бульон и добавьте картофель.'}, {name: 'ШАГ 06', amount: 'Раздавите оливки, удалите косточки, порвите на кусочки мякоть и добавьте в кастрюлю. Доведите до кипения, накройте фольгой и поставьте в духовку на 1 час – курица должна стать мягкой. За 10 минут до конца приготовления снимите фольгу, чтобы курица подрумянилась. Если соус получился жидковатым, поставьте кастрюлю без крышки на сильный огонь и варите 5 минут, пока он не загустеет.'}, {name: 'ШАГ 07', amount: 'Тем временем вскипятите 2 большие кастрюли подсоленной воды.'}]
  - var cooking3 = [{name: 'ШАГ 08', amount: 'Нашинкуйте листовые овощи, обрежьте кончики стручков фасоли. Варите при небольшом кипении по 5-6 минут, затем слейте воду.'}, {name: 'ШАГ 09', amount: 'Сбрызните овощи оливковым маслом extra virgin и лимонным соком, приправьте по вкусу, перемешайте и подавайте вместе с рагу.'}]

block content
  .content
    include ./sections/header/header
    include ./sections/recipe-page/recipe-page
  include ./sections/footer/footer