section.start
  .start__wrap#start
    .start__discount.svg-wrap.wow.fadeInRight(data-wow-duration="1.5s" data-wow-delay="0s")
      include ../../images/discount-01.svg
    .start__info
      .start__logo.svg-wrap
        include ../../images/logo-jamie.svg
      .start__cook
        p.start__cook-title.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0s") Готовьте легко <br>с Джейми <br>Оливером
        .start__cook-collection
          p.start__cook-text.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.2s") Соберите всю <br>коллекцию <br>ножей
          img(src="./images/knifes.png", alt="").start__cook-img.wow.fadeInRight(data-wow-duration="1s" data-wow-delay="0.4s")
        p.start__cook-date.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.4s")
          span с 13 марта 
          span по 31 июля
      .start__collect
        h3.start__collect-title Как собрать?
        a(href="#how").arrow.arrow-bot.ancor
          include ../../images/arrow-down.svg
        .start__collect-list
          .start__collect-content#how
            h4.start__collect-subtitle.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0s") Покупайте
            p.start__collect-text.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.2s") Совершайте покупки в «ЛЕНТЕ» <br>период с 13 марта <br>по 31 июля 2020
          .start__collect-content
            h4.start__collect-subtitle.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.4s") Собирайте
            p.start__collect-text.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.6s") Получайте фишки на кассе<br> за каждые 300 рублей в чеке<br> и собирайте их в буклет
          .start__collect-content
            h4.start__collect-subtitle.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.8s") Получайте
            p.start__collect-text.wow.fadeIn(data-wow-duration="1s" data-wow-delay="1s") Приобретайте продукцию<br> из коллекции Jamie Oliver
              span со скидкой до 83%
    .start__letter
      .start__letter-title.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0s") С любовью, Jamie
      .start__letter-container
        .start__letter-write
          p.start__letter-text.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.4s") Я уверен: хороший набор ножей — одна из самых важных вещей на кухне. Эти великолепные ножи изготовлены из качественной стали. Их идеальная конструкция обеспечивает безопасность использования. Готовить с ними — настоящее удовольствие. От универсального ножа до специальных ножей для стейка — этот набор включает все варианты, которые могут понадобится при готовке.
          p.start__letter-text.wow.fadeInRight(data-wow-duration="1.4s" data-wow-delay="0.8s")  С любовью, Jamie O.
        .start__letter-img
          img(src="./images/shef.jpg", alt="")
      .start__letter-sign.svg-wrap.flex.justify-content-center.wow.fadeInLeft(data-wow-duration="1.4s" data-wow-delay="0.8s")
        include ../../images/signature.svg