section.start
  .start__wrap#start
    .start__discount.svg-wrap(data-aos="zoom-in-right" data-aos-delay="200")
      include ../../images/discount-01.svg
    .start__info
      .start__logo.svg-wrap
        include ../../images/logo-jamie.svg
      .start__cook
        p.start__cook-title(data-aos="zoom-in") Готовьте легко <br>с Джейми <br>Оливером
        .start__cook-collection
          p.start__cook-text(data-aos="zoom-in" data-aos-delay="100") Соберите всю <br>коллекцию <br>ножей
          img(src="./images/knifes.png", alt="").start__cook-img(data-aos="fade-left" data-aos-delay="200")
        p.start__cook-date(data-aos="fade" data-aos-delay="200" data-aos-once=true)
          span с 13 марта 
          span по 31 июля
      .start__collect
        h3.start__collect-title Как собрать?
        a(href="#how").arrow.arrow-bot.ancor
          include ../../images/arrow-down.svg
        .start__collect-list
          .start__collect-content#how(data-aos="zoom-in" data-aos-delay="50")
            h4.start__collect-subtitle Покупайте
            p.start__collect-text Совершайте покупки в «Ленте» <br>период с 13 марта 2020<br> по 31 июля 2020
          .start__collect-content(data-aos="zoom-in" data-aos-delay="50")
            h4.start__collect-subtitle Собирайте
            p.start__collect-text Получайте наклейки на кассе<br> за каждые 300 рублей в чеке<br> и собирайте их в буклет
          .start__collect-content(data-aos="zoom-in" data-aos-delay="50")
            h4.start__collect-subtitle Получайте
            p.start__collect-text Приобретайте продукцию<br> из коллекции Jamie Oliver
              span со скидкой до 83%
    .start__letter
      .start__letter-title(data-aos="fade-left" data-aos-delay="50") С любовью, Jamie
      .start__letter-container
        .start__letter-write
          p.start__letter-text(data-aos="fade" data-aos-delay="100") Я уверен: хороший набор ножей — одна из самых важных вещей на кухне. Эти великолепные ножи изготовлены из качественной стали. Их идеальная конструкция обеспечивает безопасность использования. Готовить с ними — настоящее удовольствие. От универсального ножа до специальных ножей для стейка — этот набор включает все варианты, которые могут понадобится при готовке.
          p.start__letter-text(data-aos="fade" data-aos-delay="150")  С любовью, Jamie O.
        .start__letter-img
          img(src="./images/shef.jpg", alt="")
      .start__letter-sign.svg-wrap.flex.justify-content-center(data-aos="fade" data-aos-delay="200")
        include ../../images/signature.svg