@font-face {
  font-family: 'DINCondensed';
  src: url('../fonts/DINCondensedC.eot');
  src: url('../fonts/DINCondensedC.eot') format('embedded-opentype'),
       url('../fonts/DINCondensedC.woff2') format('woff2'),
       url('../fonts/DINCondensedC.woff') format('woff');
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: url('../fonts/DINPro-CondensedBlack.eot');
  src: local('DIN Pro Condensed Black'), local('DINPro-CondensedBlack'),
      url('../fonts/DINPro-CondensedBlack.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DINPro-CondensedBlack.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: url('../fonts/DINPro-CondensedBoldItalic.eot');
  src: local('DIN Pro Condensed Bold Italic'), local('DINPro-CondensedBoldItalic'),
      url('../fonts/DINPro-CondensedBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DINPro-CondensedBoldItalic.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: 'DIN Pro Cond';
  src: url('../fonts/DINPro-CondensedMedium.eot');
  src: local('DIN Pro Condensed Medium'), local('DINPro-CondensedMedium'),
      url('../fonts/DINPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DINPro-CondensedMedium.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: url('../fonts/DINPro-CondensedLight.eot');
  src: local('DIN Pro Condensed Light'), local('DINPro-CondensedLight'),
      url('../fonts/DINPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DINPro-CondensedLight.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: url('../fonts/DINPro-CondensedLightItalic.eot');
  src: local('DIN Pro Condensed Light Italic'), local('DINPro-CondensedLightItalic'),
      url('../fonts/DINPro-CondensedLightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DINPro-CondensedLightItalic.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedLightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: url('../fonts/DINPro-CondensedMediumItalic.eot');
  src: local('DIN Pro Condensed Medium Italic'), local('DINPro-CondensedMediumItalic'),
      url('../fonts/DINPro-CondensedMediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DINPro-CondensedMediumItalic.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedMediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: url('../fonts/DINPro-CondensedBlackItalic.eot');
  src: local('DIN Pro Condensed Black Italic'), local('DINPro-CondensedBlackItalic'),
      url('../fonts/DINPro-CondensedBlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DINPro-CondensedBlackItalic.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedBlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: url('../fonts/DINPro-CondensedBold.eot');
  src: local('DIN Pro Condensed Bold'), local('DINPro-CondensedBold'),
      url('../fonts/DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DINPro-CondensedBold.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: url('../fonts/DINPro-CondensedItalic.eot');
  src: local('DIN Pro Condensed Italic'), local('DINPro-CondensedItalic'),
      url('../fonts/DINPro-CondensedItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DINPro-CondensedItalic.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DIN Pro Cond';
  src: url('../fonts/DINPro-CondensedRegular.eot');
  src: local('DIN Pro Condensed Regular'), local('DINPro-CondensedRegular'),
      url('../fonts/DINPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DINPro-CondensedRegular.woff2') format('woff2'),
      url('../fonts/DINPro-CondensedRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}