$color-blue: #1b2388;
$color-blue-light: #0377b4;
$color-blue-lighter: #c0e1ff;
$color-yellow: #ffd701;
$color-red: #fb0024;
$color-grey: #666666;
$color-text: #3b2d28;

$line-height-text: 1.25;

$font-family: 'DIN Pro Cond';

//Breakpoints max-width
$laptop-xl: 1890px; //1600px
$laptop-l: 1599px; //1440px
$laptop-m: 1439px; //1366px
$laptop-s: 1365px; //1280px
$laptop-xs: 1279px; //1024px
$tablet: 1023px; //768px
$mobile-xl: 767px; //667px
$mobile-l: 666px; //568px
$mobile-m: 567px; //425px
$mobile-s: 424px; //360px
$mobile-xs: 359px; //320px

// Fonts
$base-font-size: 21px;
$base-font-size-l: 18px;
$base-font-size-xs: 16px;
$base-font-size-t: 14px;

$font-normal: 31px;
$font-normal-l: 28px;
$font-normal-xs: 25px;
$font-normal-t: 20px;
$font-normal-m-xl: 18px;

$font-big: 46px;
$font-big-l: 38px;
$font-big-xs: 34px;
$font-big-t: 25px;
$font-big-m-xl: 22px;
